.TimeInpt {
    border: 1px solid #c8c8c8;

    padding: 2px;
    user-select: none;
    /*outline: none;*/

    font-family: monospace;
}

.TimeInpt-colon {
    margin-left: 2px;
    margin-right: 2px;
}

.TimeInpt--selected {
    background: #badef4;
}

.TimeInpt-ampm {
    margin-left: 7px;
}