.DateInput {
    border: 1px solid #c8c8c8;

    padding: 2px;
    user-select: none;
    /*outline: none;*/

    font-family: monospace;
}

.DateInput-colon {
    margin-left: 2px;
    margin-right: 2px;
}

.DateInput--selected {
    background: #badef4;
}
