.TimeInput {
    border: 1px solid #c8c8c8;

    padding: 2px;
    user-select: none;
    /*outline: none;*/

    font-family: monospace;
}

.TimeInput-colon {
    margin-left: 2px;
    margin-right: 2px;
}

.TimeInput--selected {
    background: #badef4;
}

.TimeInput-ampm {
    margin-left: 7px;
}